<html>
    <header>
        <title>DKEducation</title>
    </header>
    
    <body>
        <div id="welcome" >welcome!</div>
        <div class = 'todos-warpper'>
            
            <form id="form" method="POST" action="/user/create">
                    <input type="text" id="first" name="firstName"/>
                    <input type="text" id="last" name="lastName"/>
                    <input type="submit" value="create"/>
                </form>               
        </div>


        <script>
                document.getElementById('form').onsubmit = function(e){
                    e.preventDefault();
                    //get the data from the user input and transfer them to json form
                    fetch('/user/create',{ 
                        method:'POST',
                        body :JSON.stringify({
                            'firstName': document.getElementById('first').value,
                            'lastName': document.getElementById('last').value
                        }),
                        headers:{
                            'Content-Type':'application/json'
                        }
                    })
                    //get data from the back end
                    .then(response => response.json())
                    .then(function(jsonResponse){
                        //print the data from back end, test only!!!!
                        console.log(jsonResponse);
                        //change html contain
                        var newUser = document.getElementById("welcome");
                        newUser.innerHTML = 'welcome! ' + jsonResponse['lastName'] + ' ,your ID is '+ jsonResponse['id'];
                        
                    })
           
                }
            </script>
    </body>

 
</html>